<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>RECIPE利用規約</p>
  </div>
  <%= image_tag "footer_icon.png", class:"second-fotter-logo"%>
</footer>