// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.recipe_upload {
  display: flex;
  justify-content: flex-end;
  margin: 0px 50px;
  
}

.recipe_comment {
  font-size: 20px;
  margin-right: 30px;
}

.recipe_link {
  font-size: 30px;
}

.recipe_category {
 margin: 50px ;
 display: flex;
 
 

}